extends signup
block header
  h1(class="pageTitle") Create Playlist
block content
  form(class="inputForm" action=`/${playlistType}/playlists/create/${curPageNum}` method="post")
    .formDiv
      label(for="title") Title
      input(id="title" type="text" name="title" value=title) 
    .formDiv
      label(for="visiability") Visibility
      .formDivParent
        .formDivHz
          input(type="radio" id="private" name="visiability" value="private" checked=isPrivate)
          label(for="private") private
        .formDivHz
          input(type="radio" id="public" name="visiability" value="public" checked=!isPrivate)
          label(for="public") public
    input(type="submit" class="submit" value="Create")

