extend layout
block main 
  p #{statusCode}
  p This page is currently not available. We are currently addressing the issue.
  p Click on #[a(href="/playlists/public") Home] to go back to public playlists.
  
