doctype html
html(lang="en")
  head 
    title Nhanify
    meta(charset="UTF-8" name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" href="/assets/css/reset.css")
    link(rel="stylesheet" href="/assets/css/myStyle.css")
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet")
    script(src="/assets/javascript/main.js")
    script(src="/assets/javascript/iframe.js" defer)
  body
    .bWrap
      .navTopWrap 
        .stack1
          .navTopLeft
            if user !== undefined 
              .home
                a(class="logo" href="/playlists/your/0") N
              p(class="username") #{user.username}
            else 
              .home
                a(class="logo" href="/playlists/public/0") N
          .navTopRight
            if (user !== undefined)
              form(class="buttonForm" action="/signout" method="post")
                input(type="submit" value="Sign Out")
            else
              a(href="/signup") Sign Up 
              a(href="/login") Sign In
        .stack2
          if (playlistType === "public")
            a(class="hiNavTab" href="/playlists/public/0") Public Playlists 
          else
            a(class="navTab" href="/playlists/public/0") Public Playlists 
          if (user !== undefined)
            if (playlistType === "owned")
              a(class="hiNavTab" href="/playlists/your/0") Your Playlists 
            else 
              a(class="navTab" href="/playlists/your/0") Your Playlists 
            if (playlistType === "contribution")
              a(class="hiNavTab" href="/playlists/contributing/0") Contributing Playlists
            else
              a(class="navTab" href="/playlists/contributing/0") Contributing Playlists
      main
          block main
