extends signup
block header
  h1(class="pageTitle")  Sign In
block content
  form(class="inputForm" action="login" method="post")
    .formDiv
      label(for="username") Username
      input(required id="username" type="text" name="username") 
    .formDiv
      label(for="password") Password
      input(required id="password" type="password" name="password")
    input(type="submit" class="submit" value="Sign In")

