extends layout
block title
    h1(class="pageTitle")  Sign In
block content
    form(class="inputForm" action="login" method="post")
        label(for="username") User name
        input(id="username" type="text" name="username") 
        label(for="password") Password
        input(id="password" type="password" name="password")
        input(type="submit")
block navBottom 
    a(href="home") Cancel
 
