extends layout

block main 
  - console.log({username}, {password})
  - console.log({flash})
  .mainWrapWrap
    .mainWrap
      block header 
        h1(class="pageTitle") Sign Up
      - let msgTypes = Object.keys(flash || {})
      if (msgTypes.length > 0) 
        each msgType in msgTypes
          each msg in flash[msgType]
            pre(class=`${msgType}`) #{msg}
      block content
        form(class="inputForm" action="/signup" method="post")
          .formDiv
            label(for="username") Username 
            input( id="username" type="text" name="username" value=username) 
          .formDiv
            label(for="password") Password
            input(id="password" type="password" name="password" value=password)
          input(type="submit" class="submit"  value="Sign Up")
       
      
