html {
  font-size: 100%;
  text-overflow: ellipsis;
}
:root {
  --color-bg-dark: #0b2447;
  --color-bg-light: white;
  --color-tertiary: #19376d;
  --color-secondary: #576cbc;
  --color-primary: #a5d7e8;
  --color-error: #c28c8c;
  --font-size-large: 3rem;
  --font-size-medium: 2rem;
  --font-size-small: 1rem;
}

/* layout */
body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  text-align: center;
  background-color: var(--color-bg-dark);
  color: white;
}

.bWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.navTopWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 500;
  align-items: flex-start;
  display: flex;
  color: var(--color-secondary);
  padding-top: 1rem;
  justify-content: center;
}

.signin {
  border: medium solid var(--color-primary);
  border-radius: 0.5rem;
  width: fit-content;
  padding: 1rem;
}
.stack1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  width: 95%;
}

.navTopLeft {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.username {
  color: var(--color-secondary);
}

.home {
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary);
}

.logo {
  color: white;
}

.navTopRight {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.hiNavTab {
  border-width: 1px 1px 0px 1px;
  background-color: var(--color-tertiary);
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.navTab {
  border-width: 1px 1px 0px 1px;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.stack2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  column-gap: 1rem;
}

footer {
  display: flex;
  background-color: var(--color-tertiary);
  justify-content: center;
}

.navBottom {
  display: flex;
  width: 50%;
  margin-top: 5rem;
  flex-direction: column;
  row-gap: 1rem;
}

/* table for lists */
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-tertiary);
  align-items: center;
}

.playlistsDiv {
  display: flex;
  flex-direction: column;
  width: 60%;
  align-items: center;
  height: 100%;
  min-width: 320px;
  max-width: 700px;
}

#player {
  background-color: grey;
}
.emptyMessage {
  display: flex;
  margin-top: 1rem;
  flex-direction: column;
}
.listHeader {
  display: flex;
  column-gap: 1rem;
}
.iframeDiv {
  aspect-ratio: 16 / 9;
  width: 100%;
  height: auto;
  background-color: var(--color-bg-dark);
  display: flex;
  margin-top: 1rem;
  border-radius: 1rem;
}

.modDiv {
  display: flex;
  width: 100%;
  column-gap: 1rem;
  justify-content: end;
}

.descriptionDiv {
  display: flex;
  column-gap: 1rem;
}

.verticalDiv {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: start;
  row-gap: 0.5rem;
}

.songInputDiv {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputURL {
  background: none;
  width: 90%;
  border-radius: 0rem;
  border-bottom: thin solid var(--color-secondary);
}
.addDiv {
  display: flex;
  width: 100%;
  flex-direction: row;
  column-gap: 1rem;
  justify-content: space-between;
}
.pages {
  display: flex;
  column-gap: 1.5rem;
}
.pageNav {
  display: flex;
  column-gap: 1.5rem;
  justify-content: right;
  width: 100%;
  margin-top: 1rem;
}
.curPage {
  font-size: 1.1rem;
  color: var(--color-primary);
}
.labelSong {
  font-weight: 300;
  width: 40%;
  padding: 0rem 1rem;
  color: var(--color-tertiary);
  align-content: center;
  text-align: left;
}
.stopContributionBtn {
  background: none;
  border: thin solid var(--color-secondary);
}

.editBtn {
  background: transparent url("../icons/edit.png") 50% 50% no-repeat;
  background-size: 20px 20px;
  border: 0px;
}

.jam {
  height: 200px;
  background: transparent url("../icons/wiggle_outine.gif") 50% 50% no-repeat;
  background-size: 200px 200px;
  border: 0px;
}
.deleteBtn {
  background: transparent url("../icons/delete.png") 50% 50% no-repeat;
  border: 0px;
}
.addBtn {
  margin: 0rem;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
  height: 1.5rem;
  width: 15%;
}
.addForm {
  display: flex;
  align-items: center;
  width: 100%;
}

.cols {
  display: flex;
  width: 100%;
  padding: 0.5rem 0rem;
  column-gap: 1rem;
}
.playIcon {
  display: flex;
  width: 4%;
  padding-left: 0.5rem;
}

.labelPlayIcon {
  display: flex;
  width: 7%;
}

.currentSongcols {
  display: flex;
  width: 100%;
  padding: 0.5rem 0rem 0rem 0rem;
  column-gap: 1rem;
}
.labelNo {
  width: 8%;
  display: flex;
}
.labelSongTotal {
  display: flex;
}
.labelTitle {
  width: 40%;
  display: flex;
}
.labelAddedBy {
  width: 30%;
  display: flex;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.playListWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #0680a8 black;
  overflow: auto;
}

.songCard {
  border-top: 1px solid var(--color-secondary);
  padding: 1rem 0rem;
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
}

.currentSong {
  border-top: 1px solid var(--color-secondary);
  background: var(--color-secondary);
  padding: 0.5rem 0rem;
  display: flex;
  flex-direction: row;
  width: 100%;
  column-gap: 1rem;
}

.valNo {
  display: flex;
  width: 8%;
}

.valTitle {
  display: flex;
  width: 40%;
}

.valAddedBy {
  display: flex;
  width: 30%;
}

.valDelete {
  display: flex;
  width: 5%;
}

.valEdit {
  display: flex;
  width: 5%;
}

p {
  font-size: 1rem;
  text-align: left;
  color: white;
  align-self: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* input forms */
.mainWrapWrap {
  display: flex;
  width: 60%;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.mainWrap {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  row-gap: 2rem;
  font-size: 1rem;
}

.formDiv {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  width: 100%;
}

label {
  font-weight: 300;
}

input {
  margin: 0rem;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 0.5rem;
  padding: 0.25rem 0.5rem;
  border: none;
  height: 1.5rem;
}

.formDivParent {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.formDivHz {
  display: flex;
  column-gap: 0.25rem;
}

.submit {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

/*error*/
pre {
  text-wrap: wrap;
}
.errorMessages {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;
  margin-top: 1rem;
}
.errorWrap {
  margin-bottom: 1rem;
}
.flash {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorTxt {
  overflow: unset;
}
.errors {
  background-color: #ff000038;
  border: 1px dashed red;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #ffdede;
  text-align: left;
}
.successes {
  background-color: #4c8a5c;
  border: 1px dashed green;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #c7fcd6;
  text-align: left;
}
.info {
  background-color: #b9b73e;
  border: 1px dashed yellow;
  border-radius: 0.5rem;
  padding: 0.5rem;
  color: #f9f9e9;
  text-align: left;
}
