:root {
  --color-bg-dark: #0b2447;
  --color-bg-light: white;
  --color-tertiary: #19376d;
  --color-secondary: #576cbc;
  --color-primary: #a5d7e8;

  --font-size-large: 3rem;
  --font-size-medium: 2rem;
  --font-size-small: 1rem;
}

/* layout */
body {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  font-family: "Roboto", "sans-serif";
  font-size: 1rem;
  text-align: center;
  background-color: var(--color-bg-dark);
  color: white;
}

.bWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.navTopWrap {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.pageTitle {
  font-size: 2rem;
  font-weight: 500;
  align-items: flex-start;
  display: flex;
  color: var(--color-secondary);
}

.stack1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 4rem;
  align-items: center;
  width: 95%;
}

.navTopLeft {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.username {
  color: var(--color-secondary);
}

.home {
  background-color: var(--color-secondary);
  border-radius: 0.5rem;
  padding: 0.5rem;
}

a {
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--color-secondary);
}

.logo {
  color: white;
}

.navTopRight {
  display: flex;
  flex-direction: row;
  column-gap: 1rem;
}

.hiNavTab {
  border-width: 1px 1px 0px 1px;
  background-color: var(--color-tertiary);
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.navTab {
  border-width: 1px 1px 0px 1px;
  padding: 1rem;
  border-radius: 1rem 1rem 0rem 0rem;
}

.stack2 {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 95%;
  column-gap: 1rem;
  border-bottom-style: solid;
  border-bottom-color: var(--color-tertiary);
  border-bottom-width: 1px;
}

footer {
  display: flex;
  background-color: var(--color-tertiary);
  justify-content: center;
}

.navBottom {
  display: flex;
  width: 50%;
  margin-top: 5rem;
  flex-direction: column;
  row-gap: 1rem;
}

/* table for lists */
main {
  display: flex;
  width: 100%;
  flex-direction: column;
  height: 100%;
  background-color: var(--color-tertiary);
  align-items: center;
  padding: 2rem 0rem;
}

.playlistsDiv {
  display: flex;
  width: 95%;
  flex-direction: column;
  align-items: center;
}

#player {
  width: 200px;
  height: 200px;
  background-color: grey;
}

.listHeader {
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.cols {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.label {
  width: 100%;
  display: flex;
}

.content {
  display: flex;
  width: 100%;
  justify-content: space-between;
  height: 100%;
}

.playListWrap {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: #0680a8 black;
  overflow: auto;
}

.songCard {
  border-top: 1px solid var(--color-secondary);
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.val {
  width: 100%;
  display: flex;
  align-self: center;
}

p {
  font-size: 1rem;
  text-align: left;
  color: white;
  align-self: center;
}

.delete {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

/* input forms */
.mainWrapWrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}
.mainWrap {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.inputForm {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: flex-start;
  row-gap: 2rem;
  font-size: 1rem;
}

.formDiv {
  display: flex;
  flex-direction: column;
  row-gap: 0.25rem;
  width: 100%;
}

label {
  align-self: start;
  font-weight: 300;
}

input {
  margin: 0rem;
  background-color: var(--color-secondary);
  color: white;
  border-radius: 1rem;
  padding: 0.25rem 0.5rem;
  border: none;
}
.formDivParent {
  display: flex;
  flex-direction: row;
  column-gap: 2rem;
}

.formDivHz {
  display: flex;
  column-gap: 0.25rem;
}

.submit {
  width: 100%;
  font-size: 1rem;
  font-weight: bold;
}

/*error*/
.errorWrap {
  margin-bottom: 1rem;
}
.flash {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.error {
  background-color: #ff000038;
  border: 1px dashed red;
  border-radius: 1rem;
}
